@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins sans-serif;
  font-size: 16px;
  background-color: #070707;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  height: 300px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
  border-radius: 10px;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
  border-radius: 10px;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}